{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Analyses{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">analysis</h1>
        {% if analyses %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> name </th>
                  <th width="40%"> description </th>
                  <th width="15%"> asset count </th>
                  <th width="15%"> edit </th>
                  <th width="15%"> delete </th>
                </tr>
              </thead>
              <tbody>
              {% for analyse in analyses %}
                <tr>
                  <td> {{ analyse.name }} </td>
                  <td> {{ analyse.description }} </td>
                  <td>
                    {% if analyse.assets %}
                      {{ analyse.assets.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('home.edit_analyse', id=analyse.id) }}">
                      <i class="fa fa-pencil"></i> edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('home.delete_analyse', id=analyse.id) }}">
                      <i class="fa fa-trash"></i> delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No analyses have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('home.add_analyse') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            add analyse
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
