{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_assetattacker %}
        add assetAttacker
    {% else %}
        edit assetAttacker
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_assetattacker %}
                <h1>add assetattacker</h1>
            {% else %}
                <h1>bewerte {{ asset.name }} {{ attacker.name }}</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
            <br/>
            <h2>legende</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>value</th>
                    <th>description</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>very rare</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>oftten</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>very often</td>
                </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
